@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/background.png");
}

.container {
  font-family: "Roboto Light", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.form__input {
  width: 80%;
  padding: 10px;
  flex: 2 1 80%;
  border: 1px solid #cbc4c4;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

.todos-enter-active {
  animation: todos-enter 500ms ease-in alternate-reverse;
}

.todos-exit-active {
  animation: todos-out 500ms ease-out forwards;
}

@keyframes todos-enter {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(-200px);
  }
}

@keyframes todos-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}