@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Roboto Light", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.form__input {
  width: 80%;
  padding: 10px;
  flex: 2 1 80%;
  border: 1px solid #cbc4c4;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

